page-seleccionar-municipio {


    .bg-municipio{

        background-image: url('../../assets/img/Survey2.jpg') ;
        background-repeat: no-repeat ;
        background-position: center ;
        background-size: contain ;
    }
}
